<div id = header> 
  <label>{{txtName}} | {{txtAddress}} | {{txtEmail}} | {{txtPhone}} </label>
 </div>
 <!--
 <div id = Work>
    <h3>Work Experience</h3>
    <ul>
      <li>
        <p>{{jobs[0].company}} | {{jobs[0].date}}</p>
        <ol>{{jobs[0].value[0]}}<br>
            {{jobs[0].value[1]}} 
        </ol>
       </li>
        <li>
        <p>{{jobs[1].company}} | {{jobs[1].date}}</p>
        <ol>{{jobs[1].value[0]}}<br>
            {{jobs[1].value[1]}} 
        </ol>
      </li>
    </ul>
  </div>
-->
<app-work-experience></app-work-experience>
<app-education></app-education>
<!-- 
<div id = Eduction>
   <h3>Education</h3>
   <ul>
    <li>
      <p>{{schools[0].school}} | {{schools[0].degree}}</p>
    </li>
    <li>
      <p>{{schools[1].school}} | {{schools[1].degree}}</p>
    </li>
    </ul>
 </div>
-->